.App {
  text-align: center;
}

.Header{
  border-bottom: 1px solid black;
}

.Header nav{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.Header nav a{
  color: black;
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
}